
<ul ngbNav #nav="ngbNav" class="nav-tabs d-flex flex-row justify-content-center mt-3">
  <li ngbNavItem>
    <a ngbNavLink>Maintenance</a>
    <ng-template ngbNavContent>
      <app-maintenance></app-maintenance>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Nine To Fivers</a>
    <ng-template ngbNavContent>
      <app-worker></app-worker>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Servcie Allocation</a>
    <ng-template ngbNavContent>
      <app-task></app-task>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
