<div class="home-container d-flex justify-content-start flex-row">
    <div class="d-flex justify-content-center flex-column text-center p-5 m-5" [ngClass]="'homecard'" >
      <h1 [ngClass]="'home-page-heading'">Welcome to Easy Service</h1>
    <div class="d-flex justify-content-start flex-row">
      <div class="mr-3">
        <button class="btn btn-info">Know More</button>
     </div>
     <div class="" routerLink="/login">
      <button class="btn btn-info">Login</button>
   </div>
   </div>
  </div>
</div>